
.dada {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 200px;
    height: 200px;

    &:hover {
        background-color: blue;
    }
}

body {
    font-family: "Alice";
}


// swiper 
.swiper-container {
    width: 600px;
    height: 300px;
}